@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Serif+JP:400,600,700&display=swap&subset=japanese');
@font-face{
  font-family:'NotoSerifCJKjp-Reguler';
  src:url("/font/NotoSerifJP-Regular.woff2") format("woff2"),
  url("/font/NotoSerifJP-Regular.woff") format("woff"),
  url("/font/NotoSerifJP-Regular.ttf") format("truetype");    font-style: normal;
  font-weight: normal;font-weight: 400;
  font-display:fallback;
}


html {
    /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}


body, html{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    word-break : break-all;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');
body{
  overflow-y: scroll;
  background-color:  #F4F4F4;
  font-size: 12px;
  color: #000;
  /*color: rgb(94,94,94);*/
  background-color: #fff;
  /*font-size: calc(112.5% + 0.25vw);*/
  /*font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'MS Pゴシック', 'MS PGothic', sans-serif;*/
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      /*font-family: YakuHanMP, 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'Noto Serif JP', 'MS PMincho', serif;*/
  /*font-family: 'Noto Sans JP', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    /*line-height: 1.7;*/
    font-weight: normal;
  }

h5{
  font-size: 1.1rem;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas, main{
  margin: 0;
  padding: 0;
}


.bg-white{
  background-color: #fff;
  /*border: 1px solid #eee;*/
}

.contain_inner{
  padding: 20px 0;
  overflow: hidden;
}

.contain{
  max-width: 1200px;
  margin: 15px auto 0;
}

.full-width{
  width: 100vw;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.bg-gray{
  background-color: #F4F4F4;
}

@media (max-width: 767px)  {
  .contain_inner{
    padding: 0;
  }
}

@media (max-width: 767px)  {

  .contents{
    padding: 5px 0;
    margin-top: 0px;
  }
  .contain_inner{
    padding: 5px 0 15px;
  }
}

footer{
  padding: 30px 0;
  text-align: center;
}

@media (max-width: 767px)  {
  footer{
    padding: 30px 0 70px;
  }
}
/*chromeで入力後のinputが黄色になるのを防ぐ*/
input:-webkit-autofill{
  box-shadow: 0 0 0px 999px #fff inset !important;
}

/*iphoneで丸角になるのをリセット*/
input[type=text],
textarea,
select,
button {
  -webkit-appearance: none;
  border-radius: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 11px;
    letter-spacing: .18em;
    border-style: none;
    background-color: #f0f0f0;
    line-height: 21px;
    padding: 10px 18px;
    padding-right: 24px;
    border-radius: 0;
    box-sizing: border-box;
    position: relative;
    color: #666;
}

  
.vertical_line:after{
    content: "";
    width: 1px;
    height: 40px;
    background: #5d6b66;
    display: block;
    margin: 40px auto 40px;
}


.scrollDown{
  line-height: 1;
    position: fixed;
    z-index: 100;
    left: 40px;
    bottom: -14px;
    visibility: visible;
    -webkit-transition: all .2s cubic-bezier(.02, .42, .24, .74);
    -o-transition: all .2s cubic-bezier(.02, .42, .24, .74);
    transition: all .2s cubic-bezier(.02, .42, .24, .74);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
.scrollDown a{
     position: relative;
     cursor: pointer;
     text-decoration: none;
     color: inherit;
     display: block;
    padding-left: 96px;
}

.scrollDown_iconBarInner{
    position: absolute;
    top: 0px;
    right: -240px;
    width: 240px;
    height: 1px;
    -webkit-animation: scroll-bar 2s cubic-bezier(0.63, 0.09, 0.38, 0.81) infinite;
    animation: scroll-bar 2s cubic-bezier(0.63, 0.09, 0.38, 0.81) infinite;
    background-color: #5d6b65;
}

.ff-en{
    font-family: 'Sorts Mill Goudy', YakuHanMPs, 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'Noto Serif JP', 'MS PMincho', serif;
    font-weight: normal;
    font-style: italic;
}

.scrollDown_iconBar{
    width: 80px;
  height: 1px;
  background: #e8eceb;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}
.users input{
    -webkit-appearance: checkbox;
}

.cake-error:first-child{
  margin-top: 150px;
}
.mincho {
  font-family:'NotoSerifCJKjp-Reguler', '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN W3', HiraMinProN-W3, 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;  
}

.bg_white{
  background-color: #fff;
}

.hide{
  display: none !important;
}

.pointer{
  cursor: pointer;
}

.inline{
  display: inline !important;
}

*:focus { /*chromeの青い線を消す */
outline: none !important;
}

/*スマホサイトで横ずれしないための設定*/
header,
main{
  overflow:hidden;
}

.bg-white{
  background-color: #fff;
}




/*▼▽▼▽▼▽ヘッダーの設定▼▽▼▽▼▽*/


header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 130px;
  background-color: #fff;
  transition: .3s;
  border-bottom: 1px solid #ccc;
}

.scroll-height {
  height: 100px;
}

#scrool-header {
  height: 100px;
  top: -66px;/* 上に隠す高さをjsと合わせて、ぬるっと表示させる設定 */
  width: 100%;
  position: fixed;
  opacity: 0;/*  最初読み込んだときは透過 */
}

.header_inner{
  text-align: center;
  position: relative;
  z-index: 999;/*　他のアイテムに対して最上位のレイヤーになるように */
}

#header_logo{
  position: absolute;
  top: 54px;
  z-index: 800;
}


#scroll-header_logo{
  top: 10px;
}

#header-link{
  display: flex;
  display: -webkit-flex;
  /*justify-content: flex-end;*/
  height: 30px;
}

#header-link{
  padding-top: 60px;
  padding-left: 100px;
}



#scroll-header-link{
  padding-top: 40px;
}

.header_inner .left{
  margin-right: 50px;
}


.header_inner .right{
  /*margin-left: 40px;*/
  margin-left: auto;
}

.header_inner .home_button{
  display: none;
}


  .header-home .header-link-home,
  .header-follow .header-link-follow,
  .header-search .header-link-search,
  .header-regist .header-link-regist,
  .header-account .header-link-account{
    text-decoration: underline;
  }

@media (max-width: 767px)  {

  header {
    position: static;
    height: 60px;
  }

  #header_logo{
    top: 15px;
  }

  .header_inner{
    padding: 0;
  }

  #header-link{
    position: fixed;
    top: auto;
    bottom: 0px;
    width: 100%;
    margin-left: 0;
    height: 45px;
    padding: 0px;
    font-size: 12px;
    background-color: #eee;
    z-index: 990;
  }

  #header-link img{
    width: 20px;
    height: 20px;
  }

  #header-link{
    font-size: 9px;
  }

  .header_inner .left,
  .header_inner .right{
    margin: auto;
  }

  .header-link-item{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
  }

  .header_inner .home_button{
    display: inline;
  }

  .header-home .header-link-home,
  .header-follow .header-link-follow,
  .header-search .header-link-search,
  .header-regist .header-link-regist,
  .header-account .header-link-account{
    font-weight: bold;
  }

}

/*△▲△▲△▲ヘッダーの設定△▲△▲△▲*/


.main , .logon ,.footer{
  width: 100%;
}

.main{
  padding-top: 150px;
  height: 100%;
  min-height: 100%;
}

body > .main{
  height: auto;
}
.header_inner{
  max-width: 2000px;
  padding: 0 30px;
  margin: 0 auto;
}


.contain-small{
  max-width: 500px;
  margin: 15px auto 80px;
}




@media (max-width: 767px)  {
  .main{
    padding-top: 5px;
  }

  .header_inner{
    padding: 0;
  }
}

#top .content{
  width: 100%;
  padding: 100px 0 40px 0;
}

#top .sub_ttl{
  font-size: 2.6rem;
  color: #000;
}



#top .page_top{
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
}

#top .page_top .left_area{
  width: 40%;
}
#top .page_top .right_area{
  width: 60%;
  padding-left: 40px;
}



#top .page_top .left_area{
  padding-top: 100px;
  text-align: center;
}

#top .page_top .left_area h1{
  font-size: 40px;
  color: #000;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

#top .page_top .left_area .comment{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 32px;
}

#top .shoplist{
  border-top: 1px solid #f2f2f2;
  padding: 30px 0;
}

#top .shoplist a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


#top .shoplist .tag{
  padding-bottom: 30px;
  padding-left: 30px;
}

#top .shoplist .tag h2{
  font-size: 20px;
  font-weight: bold;
}

#top .shoplist ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


#top .shoplist li{
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin: 0 0 40px;
  padding: 0 2% 12px;
  border-left: 1px solid #f2f2f2;
}



@media (max-width: 767px)  {
#top .shoplist li{
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 0 0 40px;
  padding: 0 4% 12px;
}

}

#top .shoplist figure img{
  width: 100%;
  margin-bottom: 10px;
}

#top .shoplist li p{
  color: #777;
}

#top .shoplist li h1{
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #000;
  margin: 3px 0 14px 0;
}



@media (max-width: 767px)  {
  #top .page_top{
    display: block;
  }

  #top .page_top .left_area{
    width: 100%;
  }

  #top .page_top .right_area{
    width: 100%;
    padding: 0;
  }
}
#top #headers .comment{
  margin-top: 100px;
  margin-bottom: 50px;
}

#top .main .top-copy_ja{
  font-size: 30px;
  margin: 0;
}


#top .main .top-copy_en{
  font-size:20px;
}

#top #header-links{
  margin-bottom: 100px;
}

.top-hero_image{
  max-height: 700px;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
}

.top-hero_image img{
  width: 100%;
}


#top .concept{
  z-index: 2;
  position: relative;
  padding: 100px 0;
}





#top hr{
  width: 300px;
  margin-left: 0;
}

#top .function .img{
  max-height: 400px;
  width: 100px;
}

#top .function h3{
  font-size: 18px;
  margin-bottom: 20px;
}

#top .list-inline-item{
  padding: 15px;
  font-size: 14px;
}

.how_to .flex-item img{
  width: 100%;
  padding: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
}

.flex-item{
  /*background-color: #9f0;*/
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.flex-item p{
  margin-bottom: 5px;
}

.function .flex-item img{
  width: 75px;
  padding: 20px;
}



@media (max-width: 767px)  {
  .top-copy{
    margin: 60px auto;
  }


  #top .content{
    padding: 80px 0 30px 0;
  }
  #top #header-links{
    margin-bottom: 80px;
  }

  #top .main .top-copy_ja{
    font-size: 25px; 
  }

  #top .main .top-copy_en{
    font-size: 15px; 
  }

  #top .img{
    height: 180px;
  }

  #top .how_to h2 {
    font-size: 20px;
    margin-top: 100px;
  }

  #top section{
    margin: 0 auto;
    padding: 10px 0px;
  }

  #top .how_to {
    padding: 20px 5px;
  }

  .top-copy_comment{
    padding: 0 15px;
  }
 .top-main .top-copy_ja p{
    font-size: 20px;
  }

  #top .concept{
    width: 90vw;
  }

  .top-main .top-copy_en p{
    font-size:12px;
    margin-bottom: 35px;
  }

  .top-copy_comment p{
    font-size: 13px;
  }

  #top .list-inline-item{
  font-size: 12px;
  }

  .flex-container{
    flex-direction: column;
  }

  .flex-item{
    /*background-color: #9f0;*/
    width: 90%;
    margin-bottom: 60px;
  }


  .function .flex-item img{
    width: 70px;
    height: auto;
  }

  .breakSP{
    display: block;
  }
}


/*△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲TOP△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲*/

/*▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼LOGIN▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼▽▼*/

.users .error{
  color: red;
}
.users .content{
  max-width: 500px;
  margin: 0 auto 50px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
}

.users .btn-facebook{
  background-color: #3b5998;
  color: #fff;
}
.users .btn{
  border-radius: 0;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding: 10px 0;
}

.users.form legend{
  font-size: 20px;
  text-align: center;
  border: 0;
}

.users label{
  display: block;
  margin-top: 30px;
}

.users label[for="username"]{
  display: block;
}
/*
.users input[type="text"],
.users input[type="password"],
.users input[type="password-confirm"],
.users input[type="email"]{
  width: 100%;
  height: 30px;
  background: none;
  border: 0;
  border-bottom: solid 1px #999;
  outline: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

.users fieldset{
  margin-bottom: 30px;
}

.button_wrap{
  width: 100%;
}

.form button,
.regist button,
.shop .submit input,
.user form input.follow,
.user form input.followed,
.search button,
.file label{
  height: 40px;
  width: 70%;
  /*display: inline-block;*/
  display: block;
  margin: 25px auto 0;
  background-color: #4c4c4c;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 0;
  cursor: pointer;
}

.shop .file label{
  background-color: #fff;
  color: #737373;
  border: 1px #808080 solid;
  width: 115px;
  margin: 0 auto;
}


.regist button.back,
.shop .delete_favorite,
.user form input.followed{
  background-color: #fff;
  border: 1px solid #888;
  color: #888;
}

.button_white{
  background-color: #fff;
  border: 1px solid #888;
  color: #888;
}


.user form input.follow,
.user form input.followed,
.shop .shop_header .favorite_button .button{
  margin: 0;
  width: 125px;
  padding: 5px;
  text-align: center;
}


.shop .shop_header .favorite_button .on{
  margin-top: 15px;
  padding: 10px 0;
  background-color: #c55e5e;
}

.shop .shop_header .favorite_button .on a{
  color: #fff;
}

.shop .shop_header .favorite_button .off{
  margin-top: 15px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #c55e5e;
}

.shop .shop_header .favorite_button .off a{
  color: #c55e5e;
}

.users .link{
  margin-top: 10px;
}



.form input[type=password],
.form input[type=email],
.form input[type=text],
.form textarea,
.shop textarea,
.shop .edit .evaluation,
.search select,
.search input{
  resize: none;
  width: 100%;
  background-color: #f0f0f0;
  border: 0;
  outline: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size:12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666;
  line-height: 21px;
  letter-spacing: .18em;
  padding: 10px 18px;
}



.search select{
  font-size:12px;
}

@media (max-width: 767px)  {
  .search select{
    font-size:16px;
  }
}

.shop .edit .evaluation{
  width: 140px;
}



/*△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲LOGIN△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲△▲*/



.notice{
  color: red;
}


.img-container {
width: 400px;
height: 300px;
display: inline-block;
}
.img-canvas {
display: inline-block;
}


li{
  list-style: none;
}

.follow .switch{
  width: 268px;
  margin: 0 auto 30px auto;
}

.follow .switch ul{
  padding: 0 40px;
}

.search .switch .display_tab li,
.follow .switch .tab li{
  color: #333;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;
  background-color: #fff;
  border: 1px solid #eee;
}


.search .switch .display_tab li.active,
.follow .switch .tab li.active{
  color: #fff;
  background: #EEC246;
}



.search .search_box .switch ul{
  border-bottom :solid 1px #707070;
}

.search .switch .search_tab li{
  float: left;
  margin-right: 30px;
  cursor: pointer;
}

.search .switch .search_tab li{
  height: 30px;
  width: 80px;
}

.search .switch .search_tab li.active{
  border-bottom :solid 2px #707070;
}


.search .category ul,
.search .result ul 
 {
  display: none;
}


.search .search_result .switch {
  position: relative;
  overflow: hidden;
}

.search .search_result .switch ul{
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.search .search_result .switch li{
  width: 120px;
  text-align: center;
}


.search .category ul.show_category,
.search .result ul.show_result {
  display: block;
}

.require {
  color: red;
}


.shop .swiper-container {
  margin-bottom: 20px;
}

.regist .swiper-container {
  height: 100%;
}

/* ★ページネーション・スクロールバー分の余白50pxを下に取る */
.swiper-container {
  padding-bottom: 40px;
}

/* Swiper本体 */
.swiper-container {
  /*width: calc(100% - 100px);   ☆前・次ページボタンの幅をそれぞれ50pxとして、その分を引く */
  padding-bottom: 50px;   /* ★ページネーション・スクロールバー分の余白50pxを下に取る */
  box-sizing: content-box;
  overflow: visible;
}
/* 前・次スライドボタンの縦位置調整（スライドの高さの中央に合わせる） */
.swiper-button-prev, .swiper-button-next {
  top: calc((100% - 50px) * 0.5); /* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
  margin-top: -22px;      /* ★ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
}


input::placeholder{
  color: #ccc;
}

/* ▼ ▼ ▼ ▼ 各ページに跨る設定 ▼ ▼ ▼ ▼ */
.contents{
  width: 100%;
  margin-top: 30px;
  padding: 0px 30px;
}

@media (max-width: 767px)  {
  input,
  textarea{
    font-size: 16px !important;
    transform: scale(0.8) !important;
    transform-origin: left;
  }

  .form input[type='checkbox']{
    width: auto !important;
  }

  .form input,
  .form textarea,
  .shop textarea,
  .search input{
    width: 120% !important;
  }


  #modal-content{
    width: 80%;
  }

}



.regist #googlemap{
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

h2{
  font-size: 16px;
  margin: 0;
}

a{
  color: #000;
  /*font-weight: normal;*/
}


/*画面左からの文字の隙間幅*/
/*.shop_detail,*/
.shop_infor header,
.shop .followlist
.follow .followlist{
  padding-left: 5px;
  padding-right: 5px;
}


.bgt{
background-color: transparent;
}


.fluid-box{  
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0;
  z-index: 100;

}
.fluid-box-inner{
　margin: 0 auto;
　padding: 0 25px;
}



/* ▲ ▲ ▲ ▲ 各ページに跨る設定 ▲ ▲ ▲ ▲ /

/* ▼ ▼ ▼ ▼ ログインページ ▼ ▼ ▼ ▼ */

.login h1{
  color: #888;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.top input[type="text"],
.top select{
background: none;
border: none;
border-radius: 0;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-size:16px;
-webkit-box-shadow: none;
box-shadow: none;

}



.login #login_form{
 border-bottom:#888 1px solid;
 /*border-top:#fff 1px solid;*/
 height: 30px;
 width: 100%;
 color: #888;
 font-size: 16px;
}



.login .btn{
  display: inline-block;
  width: 300px;
  margin-top: 30px;
  /*margin: 45px 40px 40px;*/
  padding: 15px 10px;
  border: 1px solid #888;
  background: transparent;
  color: #888;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-weight: normal;
}
.login .btn a:hover{
  color: #888;
}

.login label{
  padding-top: 15px;
  color: #888;
  font-weight: normal;
  text-decoration: underline;
}
.login .title{
  width: 300px;
}

.login .box__bg_photo {
  /*background-image: url(http://voice-odai.jp/wp-content/uploads/2017/02/L1008143-1024x684.jpg);*/
  background-size: cover;
  background-position: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.login .form-control{
  margin-bottom:20px;
}

.login .box__bg_photo p{
color: #aaa;

}
.login .box{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100vh;
/*  height: calc(100vh / 2);
  margin-top: calc(100vh / 2 - 300px);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
/*  -webkit-box-align: center;
  -ms-flex-align: center;*/
/*  -webkit-align-items: center;
  align-items: center;*/
  /*-webkit-box-pack: center;
  -ms-flex-pack: center;*//*
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
}

.login .box p{
  margin-bottom: 20px;
  text-align: center;
}

/* ▲ ▲ ▲ ▲ ログインページ ▲ ▲ ▲ ▲ */
/* ▼ ▼ ▼ ▼ User.indexのショップ情報 ▼ ▼ ▼ ▼ */
.top .introduction {
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}

.top .follow,
.shop .follow,
.shop .unfollow{
  margin: 30px 0 10px 0;
  font-weight: bold;
  text-align: center;
}

.search .follow{
  /*margin: 30px 0 10px 0;*/
  font-weight: bold;
  text-align: left;
}

.col-sm-3 .search_box{
  /*text-align: right;*/
  /*margin-right: 5%;*/
  width: 100%;
  box-sizing:border-box;
  padding: 20px;
  background-color: #fff;
  /*background-color: red;*/
  /*padding: 15px;*/
}

.search .search_box{
  margin: 0 auto;
  width: 720px;
  padding: 40px 5px;
  margin-bottom: 25px;
  text-align: center;
  position: static;
}





.search label{
  display: block;
  text-align: left;
  margin: 0;
}

.form_txt{
  height: 40px;
  width: 100%;
  font-size: 12px;
}





@media (max-width: 767px)  {
  .search .element{
    margin-bottom: 10px;
  }


  .search .shops .element{
    display: block;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }


  .search .search_box{
    width: 100%;
    padding: 10px 0;
    height: auto;
    margin-bottom: 0;
  }

  .search .shop .input,
  .search .shop .button,
  .search .shop .search_btn{
    width: 100%;
  }

  .col-sm-12 .search_box{
    width: 90%;
  }
}

.top #login_form_select,
.top #login_form_txt,
.top .form_txt{
  height: 50px;
  color: #555;
  font-size: 12px;
}

.top #login_form_select,
.top #login_form_txt{
  width: 100%;
  margin-right: 10%;
}

@media (max-width: 767px) {/*レスポンシブ対応*/
  .search #login_form_select,
  .search #login_form_txt
  .search #ac_word,
  .search #ac_user{
    margin: 0;
  }
}


 .btn{
  display: inline-block;
}

.modal-body .button {
  text-align: center;
}
.modal-body .button form{
  display: inline;
}

.col-sm-3 .btn{
  width: 80%;
}

.col-sm-12 .btn{
  width: 30%;
}


@media (max-width: 767px) {/*レスポンシブ対応*/
  .col-sm-12 .btn{
    width: 50%;
  }
}
.top .content{
  margin-bottom: 50px !important;
}


/* ▲ ▲ ▲ ▲ Shopページのショップ情報 ▲ ▲ ▲ ▲ */

/* ▼ ▼ ▼ ▼ User.indexとShopページのショップ情報 ▼ ▼ ▼ ▼ */


.regist .content{
  max-width: 1000px;
  background-color: #fff;
  border: 1px solid #eee;
}
.search .content{
  max-width: 1000px;
  background-color: #fff;
  border: 1px solid #eee;
}




.regist .content{
  padding: 15px 5px 30px 5px;
  margin: 0 auto 50px auto;
}

.search .content{
  padding: 15px 5px 15px 5px;
  margin: 0 auto 30px auto;
}




.content_review h3{
  font-size: 18px;
}
.content_review .myrating{
  padding-top: 20px;
}

.content_review h4{
  font-size: 14px;
  margin-right: 6px;
}

.content_review form,
.content_review .submit{
  display: inline;
}
/*コメント編集中モードのCSS*/
.shop .clicked{
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  cursor: default;
}

.content_review.edit .myreview_display,
.content_review.edit .edit_favorite,
.content_review.edit .delete_favorite{
  display: none;
}

.content_review.edit .evaluation label{
  font-size: 16px;
}
/*登録ボタンの表示*/
.content_review.edit .myreview_edit{
  display: block !important;
}
/*お気に入り度のポインターを矢印にする*/
.content_review.edit label{
  cursor: pointer;
}

/*コメント編集中モードのCSS*/

.shop .button{
  margin-top: 20px;
}
.shop .myreview_display{
  line-height: 2.0em;
}

.shop .edit .myreview_edit{
  margin-top: 10px;
}


.shop .myreview_edit dd{
  margin-top: -18px;
}

.shop .content .photo img{
  margin: auto;
}
.shop .shop_detail{
  position: relative;
  /*border: 1px solid #eee;*/
  display: table-cell;
  width: 55%;
  vertical-align: top;
}

.shop .shop_detail h2{
  font-size: 30px;
  color: #0f0f0f;
  display: inline-block;
}

@media (max-width: 767px) {
  .shop .content{
  padding: 0 3%;
  }
}

.shop dl,
.form dl{
  padding: 13px 0;
  margin: 0;
}

.shop .shop_detail dl,
.regist .confirm dl{
  border-top: 1px solid #e7e7e7;
}

/*最初の行は線を消す(first-childはなぜか効かなかった）*/
.shop dl:first-of-type,
.regist .confirm dl:first-of-type{
  border-top: none;
}

.shop dt,
.form dt{
  display: inline-block;
  width: 29%;
  vertical-align: top;
  color: #666;
  font-weight: normal;
  line-height: 27px;
  color: #999;
}

.shop dd,
.form dd{
  display: inline-block;
  margin: 0;
  line-height: 22px;
  width: 70%;
}

.form dd.selectbox{
/*.regist .address dd.selectbox{*/
  width: 50%;
}

.regist .open_hour dd.selectbox{
  width: 100%;
}

.form fieldset{
  margin-bottom: 25px;
}

.shop legend,
.form legend{
  margin-top: 10px;
  font-size: 16px;
  border-bottom: 1px solid #707070;
}

.regist .bussinesshour{
  margin-bottom: 10px;
}

.regist button.add_open_hour{
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  /*text-align: left;*/
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0;
}


@media (max-width: 767px) {
  .regist dl{
    padding: 10px 0;
  }

  .shop dt,
  .form dt{
    display: block;
    width: 100%;
  }

  .shop dd,
  .form dd{
    width: 100%;
    padding-left: 10px;
  }

  .form dd.selectbox,
  .search .selectbox{
    width: 80%;
  }

  .form .open_hour dd.selectbox{
    width: 100%;
  }

  .form legend{
    font-size: 16px;
  }
}


.shop .information table td{
  width: 70%;
}

.shop .information table th,
.shop .information table td{
  padding: 20px 0;
}

.shop .shop_detail .name{
  padding-top: 25px;
}


/*ショップ写真*/
.shop .photo{
  margin: 0 auto;
    max-width: 100% !important;
    min-width: initial !important;
    overflow: hidden;
}
.shop .photo ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.shop .photo ul:after{
  content:"";
  display:block;
  width: 30%;
  height:0;
}

.shop .photo li{
  position: relative;
  width: 30%;
  margin-bottom: 15px;
}
.shop .photo li:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.shop .photo img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}



@media (max-width: 767px) {
  .shop .content .photo{
    width: 95%;
  }
}
.shop .shop_detail{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.shop .shop_header{
  width: 100%;
  padding: 10px 0;
  display: table;
}

.shop .shop_header .information{
  display: table-cell;
  width: calc(100% - 125px)
}
.shop .shop_header .favorite_button{
  display: table-cell;
  vertical-align: top;
  width: 125px;
}

@media (max-width: 767px) {
  .shop .shop_header{
    display: block;
  }
  .shop .shop_header .information{
    display: block;
    width: 100%;
  }

  .shop .shop_header .favorite_button_header{
    display: block;
  }
}


.shop .shop_header .name{
  margin-bottom: 10px;
}

.shop .shop_header .name h2{
  font-size: 40px;
letter-spacing: 4px;
  color: #000;
  display: inline;
}

.shop .information

.shop .shop_header.type{
  padding-bottom: 15px;
}


/*ショップタイプ*/
.shop .shop_detail .type
.search .shop_detail .type{
  margin: 0px;
  font-size: 11px;
}

/*ショップ紹介*/
.shop .shop_detail .introduction{
  /*padding-left: 30px;*/
  line-height: 20px;
}




.shop .shop_detail .infor{
  /*margin-top: 50px;*/
}



/*フォローボタンはsearch/shopと同じ場所に記載*/

/* ▲ ▲ ▲ ▲ User.indexとShopページのショップ情報 ▲ ▲ ▲ ▲ */

/* ▼ ▼ ▼ ▼ Shopページのフォローリスト ▼ ▼ ▼ ▼ */

.follow #googlemap,
.follow .shoplist{
  background-color: #fff;
  height: 700px;
  border: 1px solid #eee;
}
/*フォロー欄のユーザエリア余白*/
.shop .followlist > p,
.follow .shoplist > p{
  font-weight: bold;
  font-size: 13px;
}

/*フォロー欄のユーザエリア余白*/
.shop .followlist .follow_user ul{
  margin-top: 15px;
  margin-left: 8px;
}

.follow .shoplist ul{
  padding: 15px;
}

/*ユーザの隙間*/
.follow_user li,
.follow .shoplist li{
  margin-bottom: 18px;
}





/*bootstrapの定義を解除*/
.shop .followlist .img-responsive,
.follow .shoplist .img-responsive,
.user .img-responsive{
  display: inline;
}

/*アイコンサイズ*/

.follow .shoplist img,
.user .userlist img{
  width: 40px;
  height: 40px;
}

.shop .followlist .follow_user img{

}

/*写真と情報をflexboxで分割*/
/*.shop .followlist .summary,*/
.follow .shoplist .summary,
.user .userlist .summary{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center; /*縦のセンタリング*/
}

/*写真欄の横幅を40pxで固定*/
.shop .followlist .icon,
.follow .shoplist .icon,
.follow .shoplist .icon{
  flex: 0 1 40px;
  -webkit-flex: 0 1 40px;
  -ms-flex: 0 1 40px;
  -moz-flex: 0 1 40px;
}

/*情報欄は可変長*/
.follow .shoplist .infor,
.user .userlist .infor{
  margin-left: 12px;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
}

.shop .followlist .name{
  font-size: 14px;
}

/*情報の文字を調整*/
.shop .followlist p,
.follow .shoplist p,
.user .userlist p{
  margin: 0;
}

.shop .followlist>p{
  text-align: center;
  margin: 20px 0 30px 0;
}
.shop .followlist .name p,
.follow .shoplist .name p,,
.user .userlist .name p
{ /*ユーザ名*/
  line-height: 19px;
}
.shop .followlist .other p,
.follow .shoplist .other p,
.user .userlist .other p{ /*カテゴリ・住所*/
  color: rgb(94,94,94);
  font-size: 11px;  
  line-height: 14px;
}

/* ▲ ▲ ▲ ▲ Shopページのフォローリスト ▲ ▲ ▲ ▲ */

/* ▼ ▼ ▼ ▼ Shopページのレビューサイト ▼ ▼ ▼ ▼ */

/* ▽ ▽ ヘッダーエリア ▽ ▽ */

/**/
.inner_link ul,
.inner_link_sub ul  {
  font-size: 12px;
}

.inner_link li{
  text-align: center;
  float: left;
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
}

.shop .inner_link li{
 width: calc(100%/4);
}

.inner_link li a,
.inner_link_sub li a{
  color: #5e5e5e;
}

/*選択しているリンクは下線を太くする*/
.inner_link li.active,
.inner_link_sub li.active p{
  border-bottom: solid 1px #000;
}


.inner_link li.active a,
.inner_link_sub li.active a{
  color: #000;
}

.inner_link_sub li{
  text-align: center;
  width: calc(50% - 2px);
  display: inline-block;
}


.inner_link_sub p{
  width: 200px;
  margin:0 auto;
  /*border-top: solid 1px #ddd;*/
  border-bottom: solid 1px #ddd;
}

@media (max-width: 767px) {
  .inner_link ul,
  .inner_link_sub ul{
    font-size: 10px;
  }

  .inner_link_sub p{
    width: 100px;
  }
}


/*リンクを幅いっぱいにする*/
.inner_link ul li a,
.inner_link_sub li a{
  width: 100%;
  display: block;
}

/* △ △ ヘッダーエリア △ △ */
/* ▽ ▽ レビューエリア ▽ ▽ */
/*枠全体*/
.shop .review .user_review{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

@media (max-width: 767px) {
  .shop .review .user_review{
/*縮小した場合は、レビュー欄を回り込みにする*/
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

}

/*アイコンエリアとフォローエリア（左側）のサイズ設定*/
.shop .review .user_wrap{
  flex: 0 0 300px;
}

/*レビューエリア（右側）の設定*/
.shop .review .review_wrap{
  flex: 1 1 100%;
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #eee;
}

/*ユーザ情報をアイコンエリアとフォローエリアで横並びにする*/
.shop .review .user_infor{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

/*アイコンエリア（一番左）の設定*/
.shop .review .icon_area{
  text-align: center;
  flex: 0 0 80px;
  padding-right: 20px;
}


.shop .review .follow_area{
  flex: 1 1 100%;
}

.shop .review .follow_area th{
  font-weight: normal;
  width: 90px;
}

/*フォローエリアの横線*/
.shop .review .follow_area hr{
  margin: 4px 0;
}


/*ratingとコメントの間の幅*/
.shop .review .review_area .rating{ 
  margin-bottom: 5px;
}

/*お気に入り度とratingを横並びにする*/
.shop .review .review_area form{
  display: inline;
}

/* △ △ レビューエリア △ △ */

/* ▲ ▲ ▲ ▲ Shopページのレビューサイト ▲ ▲ ▲ ▲ */



/* ▼ ▼ ▼ ▼ SearchとFollowページ ▼ ▼ ▼ ▼ */
/*ショップ情報を並べるためのパラメータ*/

.follow .shop_list{
  width: 100%;
}
/*  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;*/
}

/*最後の行が2つになった場合、両端揃えになってしまうため、最後に擬似クラスを作成（横幅は下のショップ枠とセットで変更する事）*/


/*ショップの枠*/
.follow .shop_infor{
  display: flex;
  -webkit-flex: 0 0 calc(33% - 10px); /* 1マスのサイズ設定 */
  -ms-flex: 0 0 calc(33% - 10px); /* 1マスのサイズ設定 */
  -moz-flex: 0 0 calc(33% - 10px); /* 1マスのサイズ設定 */
  flex: 0 0 calc(33% - 10px); /* 1マスのサイズ設定 */
  max-width: -webkit-calc(33% - 10px); /* IE11バグ対応 */
  max-width: calc(33% - 10px); /* IE11バグ対応 */
  width: 100%;
  /*padding: 0px 10px;*/
  margin-bottom: 30px;
  background-color: #fff;
  /*border: 1px solid #eee;*/
}

.search .shop_flame,
.user .shop_flame,
.user .user_flame{
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  /*padding: 0 10px;*/
  flex-wrap: wrap;
  justify-content: space-between;
}



@media (max-width: 767px) {
  .search .shop_flame,
  .user .user_flame,
  .user .shop_flame{
    display: block;
  }
}

.shop_list,
.user .user_infor{
  background-color: #fff;
  -webkit-flex: 0 0 45%; /* 1マスのサイズ設定 */
  -ms-flex: 0 0 45%; /* 1マスのサイズ設定 */
  -moz-flex: 0 0 45%; /* 1マスのサイズ設定 */
  flex: 0 0 45%; /* 1マスのサイズ設定 */*/
  max-width: 45%;
}


.shop_infor .thumbnail{
  padding-top: 5px;
  width: 100px;
}
.shop_infor .thumbnail img{
  height: 80px;
}

.user .shop_flame::before{
  content:"";
  display: block;
  width:29%;
  order:1;
}
.user .shop_flame::after{
  content:"";
  display: block;
  width:29%;
  order:1;
}

.search .shop_thumbnail,
.user .shop_thumbnail{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #F9F9F9;
  /*padding: 7px;*/
}

.search .shop_detail,
.user .shop_detail{
  width: 100%;
  text-align: left;
  vertical-align: top;
  padding:  10px 20px 20px 20px;
  background-color: #fff;
}



.shop_list dl,
.user dl{
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
}

.shop_list dt,
.user dt{
  display: inline-block;
  vertical-align: top;
  max-width: 130px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .search dt,
  .user dt{
    max-width: 100px;
    margin-right: 10px;
  }
}
.user .user_flame dt{
  margin: 0;
}

.shop_list dd,
.user dd{
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 155px);
}

.user .user_flame dd{
  max-width: calc(100% - 55px);
}


.search hr{
  border-color: #707070;
}
/*レスポンシブ対応*/
@media (max-width: 767px) {
  .follow .shop_infor{
    flex: 0 0 100%;
    max-width: 100%; /* IE11バグ対応 */
  }


}

/*レスポンシブ対応*/
@media (max-width: 480px) {
  .shop_list{
    flex: 0 0 calc(100% - 10px);
    max-width: 100%; /* IE11バグ対応 */
  }
}

/*ショップ情報の枠*/
.follow .shop_infor header{
  padding-top: 5px;
  padding-bottom: 5px;
}

/*ショップ名*/
.follow .shop_summary a,
.shop_list .name{
  font-size: 20px;
}


/*レスポンシブ対応*/
@media (max-width: 767px) {
  .shop_list .category{
    font-size: 10px;
  }

  .shop_list .name{
    font-size: 16px;
  }

  .shop_list .address,{
    font-size: 10px;
  }
}
/*フォローするボタンをショップ名に並べる*/
.follow .shop_summary form,/*フォローボタンをショップ名に並べるため*/
.search .shop_detail form,
.shop .shop_detail form{
  display: inline;
}
.follow .shop_summary input,/*フォローボタンのパラメータ*/
.search .shop_detail input{
/*.shop .shop_detail input{*/
  border: 0;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.follow .shop_summary .follow input,/*フォローをするは強調*/
.search .shop_detail .follow input,
.shop .shop_detail .follow input{ 
  color: #333;
  font-size: 11px;
  border-bottom: 1px solid #D17D74;
  padding-bottom: 4px;
}

.follow .shop_summary .unfollow input,/*フォローをやめるは控えめに*/
.search .shop_detail .unfollow input,
.shop .shop_detail .unfollow input{
  color: #aaa;
  font-size: 10px;
}
.follow .shop_summary input:hover, /*submitボタンはon mouseで下線が出ないため*/
.search .shop_detail input:hover,
.shop .shop_detail input:hover{
  /*text-decoration: underline;*/
}

/*ショップのカテゴリと住所*/
.follow .shop_summary p,
.search .shop_summary p{
  font-size: 11px;
}

/*画像のレスポンシブ対応とトリミング*/
/*.search .shop_thumbnail{
  overflow: hidden;
  position: relative;
  padding-top: 65%;
  margin-bottom: 5px;
}*/

.follow .trimming,
/*.search .trimming,*/
/*.user .trimming*/{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#googlemap{
  height: 70vh;
  width: 100%;
}

.follow #googlemap{
  margin-bottom: 50px;
  border: 1px solid #eee;
}

.follow{
  position:relative
}

.tab{
  /*display: none;*/
}

.category li,
.result li{
  list-style: none;
}

@media (max-width: 767px) {

  #hide_logo{
    display: none;
  }

  #googlemap{
    margin-bottom: 45px;
  }


  .follow #googlemap{
    height: calc(100vh - 45px);
    position: fixed !important;
    /*top: 0;*/
    left: 0;
    z-index: 1;
  }

  .shop #googlemap,
  .follow #googlemap,
  .search #googlemap{
    height: calc(100vh - 105px);
  }

  .follow .list_area{
    display: none;
  }

  .follow .map_area{
    /*display: none;*/
  }

  .search .switch .display_tab,
  .follow .switch .tab{
    display: block;
    position: fixed;
    bottom: 55px;
    z-index: 990;
    left:calc(50% - 130px);
  }

  .search .switch .search_tab{
    display: block;
  }

  .search .switch .display_tab li ,
  .follow .switch .tab li{
    float: left;
    text-align: center;
    width: 120px;
    padding: 5px;
    margin: 0 5px;
  }



  .search .switch .display_tab li.active ,
  .follow .switch .tab li.active {
    color: #fff;
    cursor: auto;
  }

  .search .category ul, 
  .search .result ul, 
  .foillow .area ul {
    display: none;
  }

  .search .category ul.show_category ,
  .search .result ul.show_result ,
  .follow .area ul.show{
    display: block;
  }

  .search .switch .search_tab li{
    float: left;
    margin: 0;
    cursor: pointer;
    height: 30px;
    width: 50%;
    text-align: center;
  }


}


.user .header-bg {
  background-image: url("画像のパス");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.user .userlist{
  max-width: 1000px;
  margin: 0 auto;
}

.user .header{
  display: table;
  width: inherit;
  margin: 0 0 20px 10%;
}
.user .header .icon_area{
  display: table-cell;
  justify-content: center;
  align-items: center;
}

.user .header .detail{
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}


.user .header h1{
  font-size: 30px;
  display: inline;
    margin: 0;
}

.user .nickname a{
  color: #777;
}


@media (max-width: 767px)  {
  .user .header h1{
    display: block;
  }

  .user .header{
    margin: 15px 0 10px 0;
  }

  .user .header .detail{
    padding-left: 10px;
  }
}

.user .header form{
  display: inline;
}

.user .submit{
  display: inline;
  vertical-align: text-bottom;
}


.user .header .account_name{
  font-size: 20px;
}

.user .header .sex{
  font-size: 15px;
}
.user .header .address{
  font-size: 15px;
}

.user ul{
  overflow: hidden;
}

.user article {
  /*margin-bottom: 150px;*/
}


.user .shops li{
  float:left;
  width: 33%;
  /*height: 80px;*/
}

.user .type li{
  width: calc(100%/3);
  text-align: center;
  float: left;
  border-bottom :solid 1px #ddd;
}

.user .type a{
  display: block;
}

.user .type li.active{
  border-bottom :solid 1px #000;
}



@media (max-width: 580px) {
  .user .user_infor{
    flex: 0 0 100%;
  }
}

.user .user_infor .icon_area{
  text-align: center;
  width: 50px;
}

.user .user_infor .icon_area img{
  width: 40px;
  height: 40px;
}


.user .user_infor ul{
  margin: 0;
  padding-left: 15px;
}

.user .user_infor hr{
  margin: 4px 0;
}
.user .user_infor td{
  padding-right: 20px;
}

.user .user_infor .sex{
  width: 100%;
  text-align: center;
}

.user .user_infor .address{
  text-align: left;
}

@media (max-width: 767px)  {

  .user header{
    width: 80%;
  }

  .user header .icon_area{
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
  }

  .user header .icon{
    flex: 0 1 50px;
    -webkit-flex: 0 1 50px;
    -ms-flex: 0 1 50px;
    -moz-flex: 0 1 50px;
  }

  .user header .user_name{
    font-size: 20px;
  }

  .user header .account_name{
    font-size: 14px;
  }

  .user header .sex{
    font-size: 12px;
  }
  .user header .address{
    font-size: 12px;
  }

  .user article li{
    width: 100%;
  }
  .user .type{
    font-size: 10px;
  }
}


.regist label{
  /*display: block;*/
  font-size: 14px;
}

.shop textarea{
  height: 200px;
}


.search .element{
  text-align: left;
  margin-bottom: 20px;
}



.search .search_result .element_wrap form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.search .search_result .input_wrap{
 display: table;
 flex: 1 0 80%;
 margin-bottom: 20px;
}

.search .search_result .button_wrap{
  flex: 1 0 80px;
}

/*.search .search_result .element_wrap .element{*/
.search .search_result .element_wrap .input_wrap .element{
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
}


.search .search_result select,
.search .search_result input{
  width: 100%;
}


.search .search_result .selectbox,
.search .search_result .inputbox{
  width: 90%;
}

@media (max-width: 767px) {
  .search .search_result .input_wrap{

  flex: 0 0 100%;
}
.search .search_result .button_wrap{
  flex: 0 0 100%;
}
  .search .search_result .selectbox,
.search .search_result .inputbox{
  width: 90%;
}
.search .search_result button{
  margin: 0;
  width: 100%;
}
/*  .search .search_result .element_wrap{
    display: flex;
  }

  .search .search_result .element_wrap .element{
    display: block !important;
    flex: 0 0 40%;
    width: 100% !important;
  }
  .search .search_result select,
  .search .search_result input{
      width: 100%;
  }
  .search .search_result button{
    margin-top: 5px;
    width: 100%;
  }*/
}



@media (max-width: 767px)  {
  select{
    font-size: 16px;
  }
}

.form .selectbox,
.search .selectbox,
.search .inputbox {
  position: relative;
  width: 100%;
}

.selectbox::after {
  background-image: url(/img/select_arr_bottom.svg);
  margin-top: 5px;
}
.selectbox::before{
  background-image: url(/img/select_arr_top.svg);
  margin-top: -5px;
}

.selectbox::before,
.selectbox::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 4px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 6px 4px;
  z-index: 200;
}


/*セレクトボックスの矢印を消す（IE11バグ対応）*/
select::-ms-expand {
  display: none;
}

.regist ul{
  margin-top: 25px;
  padding-inline-start: 0;
  padding-left: 0;
}

.regist .duplex_shops{
  margin-bottom: 40px;
}

/*-- チェックボック自体は非表示 --*/
.week_set [id^="week"]{
  display: none;
}

/*-- 切り替えをアニメーションで --*/
.week_set [id^="week"]+label,
.week_set input+label::before,
.week_set input+label::after {
  transition: all .2s;
}

/*-- ボタンの本体 --*/
.week_set [id^="week"]+label{ 
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px 5px 2px 5px;
  margin-right: 5px;
  text-align: center; line-height: 1.0;
  background: #F0F0F0;
  cursor: pointer;
}

/*-- ボタンのラベル --*/
.week_set [id^="week"]+label::before{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7px;
  content: attr(data-off-label);
  width: 100%;
  font-size: 14px;
  color: #666;
}

/*-- チェックでボタンを変更 --*/
.week_set [id^="week"]:checked+label{
  background: #EEC246;
}

.week_set [id^="week"]:checked+label::before{
  content: attr(data-on-label);
  color: #fff;
}

.regist .bussinesshour input{
  width: 150px;
}

.regist .bussinesshour ul{
  display: flex;
  align-items: center;
}

.regist .bussinesshour li{
  padding-right : 10px;
}

.regist hr{
  margin: 0;
}

.hidden_box {
  margin: 5px 0 15px 0;
}

.hidden_box label {
  font-weight: normal;
  padding: 3px 5px;
  cursor: pointer;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.hidden_box input:checked ~ .label_add  {
  display: none;
}

.regist .notice{
  margin-bottom: 15px;
  font-size: 14px;
}


.regist button{
  font-size: 14px;
  margin-bottom: 10px;
}

.regist table{
  width: 100%;
  margin: 20px 0;
  border-collapse:collapse;
}

.regist table tr{
  height: 50px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.regist table th{
  width: 150px;
  font-style: normal;
  background-color: #eee;
}

.regist table td{
  width: calc(100% - 150px);
}


.regist table th,
.regist table td{
  padding: 0 20px;
}

.shop .shoprating{
  width: auto;
  margin-top: 10px;
}


.rating form,
.shop .shoprating form,
.shop .shop_header form{
  display: inline;
}


.top .rating,
.search .rating,
.follow_user .rating,
.user .rating{
  width: 90px;
}

.rating img{
  width: 25px;
}


.follower_followed{
  margin-top: 30px;
  background-color: #fafafa;
  padding: 20px 10px;
  width: 100%;
  margin-top: 30px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}


.evaluation{
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  color: gray;
}
.myrating .evaluation label{
  margin-bottom: 0;
}


.evaluation label{
  padding: 0px;
  font-size: 12px;
  margin: 0;
  color: #d6d6d6;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}

.shop .shop_detail .myrating .evaluation label:hover,
.shop .shop_detail .myrating .evaluation label:hover ~ label,
.myrating .evaluation input[type='radio']:checked ~ label{
  /*color: #ff0000;*/
}

.evaluation input[type='radio']:checked ~ label{
  color: #c55e5e;
}

.all .evaluation input[type='radio']:checked ~ label{
  color: #c7abab;
}


.shop .review_wrap{
  margin-top: 10px;
  width: 100%;
}

.wrap {
  position: relative;
  min-height: 1em;
  width: 100%;
}

/*改行したら幅が広かる設定*/
.on textarea {
    display: block;
    resize: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 20px;
    height: 100%;
    font-size: 100%;
    width:100%;
    line-height: 1em;
    border: 0;
}

.on  textarea.border_bottom{
  border-bottom: 1px solid #999;
}


.on textarea:focus {
    outline: 0;
}

.on .mirror {
    visibility: hidden;
    font-size: 100 %;
    line-height: 1em;
}


.containera{
  margin-top: 20px;
}

.panel-heading{
  margin-bottom: 10px;
}

.shop .croppie-container{
  height: auto;
}

.shop .modal-body .button {
  text-align: center;
}

.shop .modal-body .button form{
  display: inline;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background: rgba(0,0,0,.5);*/
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 50px 50px;
  z-index: 999;
}

.follow .contain{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
}

.follow .map_area{
    flex: 0 0 75%;
}

.follow .list_area{
  flex: 0 0 25%;
  overflow-y: scroll;
  height: 700px;
}

.user .header .avatar img{
  width: 150px;
  height: 150px;
}

@media (max-width: 767px)  {
  .user .header .avatar img{
    width: 75px;
    height: 75px;
  }
}


.account .avatar img{
  width: 150px;
  height: 150px;
}

.shop .avatar img{
  width: 50px;
  height: 50px;
}

.search .avatar img{
  width: 40px;
  height: 40px;
}


.circle{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  object-fit: cover;
}

.file input{
  display: none;
}
.file label {
     padding: 10px 0;
}

/*.form button{
  display: inline-block;
  width: 30%;
  margin-top:0;
  margin-right: 20px;
}*/

@media screen and (max-width: 899px){
  .instagram-media{
    max-width: 100% !important;
    min-width: initial !important;
  }

}

.modal-content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.modal__content #canvas{
  display: block;
}
.modal__content .btn{
  height: 40px;
  width: 70%;
  padding:0;
  /*display: inline-block;*/
  background-color: #c55e5e;;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 0;
  cursor: pointer;
}

.modal__content .closes{
  width: 29%;
  background-color: #fff;
  color: #737373;
}